*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.headerContainer{
    max-width: 1024px;
    margin: 40px auto;

}


.container{
    display: flex;
    max-width: 1024px;
    margin: auto;
}

.container .leftside{
    flex: 1;
    background-color: rgb(208, 249, 249);
    margin-right: 40px;
}

.container .rightside{
    flex: 1;
    background-color: rgb(240, 253, 220);
    margin-left: 40px;
}